Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# IDE Settings (PyCharm)
.idea/
*.iml

# Secrets & Config
.env

# OS-specific
.DS_Store
Thumbs.db